---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Crypto Miner!</h1>
			<p>
				You can't avoid hearing about people mining these digital currencies, which is destabilizing
				the graphics processor market, now that the cryptocurrency craze is in full swing. Here's what
				"crypto mining" actually is.

			</p>
			<p>
				What exactly is cryptomining? In a nutshell, crypto mining is the process by which new coins,
				or cryptocurrency units, are produced. You can probably guess that this kind of mining doesn't
				require callused hands to hold pickaxe handles. Instead, it's computer processors that do all 
				the hard work, chipping away at complex math problems.  Of course, you may wonder why these 
				digital currencies even need to be mined: after all, it's make-believe money with no backing 
				except what people will pay for it.  Turning on a money printer is how governments create real 
				currency, so it stands to reason that cryptocurrency could do the same.

			</p>
			The Bitcoin Network The main obstacle to cryptocurrency for years was that there was no way to limit 
			the supply: there were many ideas for creating digital coins, but there was no way to guarantee that 
			people wouldn't just duplicate them at will. Without an authority like a central bank---an institution
			that regulates the flow of currency---it becomes very tricky to manage the supply of any currency.

			 Prior to Satoshi Nakamoto's (probably a fictitious) creation of the blockchain, this issue baffled 
			developers of digital currencies for decades. The full theory of how these work is pretty complicated-
			--we go into more depth in our article on explaining the "blockchain"---but the easiest way to explain 
			it is to picture it as a chain.
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
